*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}
body {
  background-color: #3c3c3c;
}
button{
  background-color: #5b5b5b;
  padding: 15px 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight:bold;

}